.section{
    display: block;
    margin: auto;
    background-color: #bdc3c7;
    width: 80%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.singleUser{
    background-color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    align-items: center;
    border-radius: 00.5rem;
    padding: 0.3rem 2rem;
}

.btn{
    background-color: #3498db;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
    margin: 0.5rem;
    color: aliceblue;
    transition: all 0.5s;
}

.btn:hover{
    background-color: #2980b9;
    transition: all 0.5s;
    box-shadow: 0rem 0rem 1rem  #48dbfb;
}